* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto Mono", monospace;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* --------------------------------------- */
[class$=__container] {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.margin--section {
  margin-bottom: 50px;
}

.margin--title {
  margin-bottom: 25px;
}

.logo--text {
  font-size: 30px;
  font-family: "Gruppo", sans-serif;
  font-weight: 800;
}

.logofooter--text {
  font-size: 20px;
}

.title--text {
  font-size: 50px;
  line-height: 130%;
  font-family: "Exo 2", serif;
}

.titlesection--text {
  font-size: 35px;
  line-height: 130%;
  font-family: "Exo 2", serif;
}

.titlesubsecrion--text {
  font-size: 25px;
  line-height: 130%;
  font-family: "Exo 2", serif;
  font-weight: 600;
}

.normal--text {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  line-height: 130%;
}

.link--text {
  font-family: "Gruppo", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
}

.buttonorlink {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: rgb(225, 87, 63);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 190px;
  margin: 0 auto;
  font-weight: 700;
}
.buttonorlink span {
  color: white;
}
.buttonorlink img {
  max-width: 35px;
  margin-right: 10px;
}

/* --------------------------------------- */
.wrapper {
  background-image: linear-gradient(109.6deg, rgba(112, 246, 255, 0.33) 11.2%, rgba(221, 108, 241, 0.26) 42%, rgba(229, 106, 253, 0.71) 71.5%, rgb(123, 183, 253) 100.2%);
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) rotate(15deg);
  }
  100% {
    transform: scale(1);
  }
}
.header .header__container {
  padding: 50px 15px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .header__container .header__menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .header__container .header__menu ul {
  display: flex;
  gap: 30px;
}
.header .header__container .header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .header__container .header__contacts > a {
  display: flex;
  align-items: center;
}
.header .header__container .header__contacts img {
  max-width: 20px;
  margin-right: 10px;
}

.main {
  min-height: calc(100vh - 214px);
}
.main .main__container .hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background-color: rgb(255, 199, 253);
  border-radius: 20px;
  border: 1px solid rgb(176, 176, 176);
}
.main .main__container .hero .hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main .main__container .hero .hero__text {
  text-align: center;
}
.main .main__container .hero .hero__text .hero__title {
  margin-bottom: 30px;
}
.main .main__container .services .services__container .services__menu ul {
  display: grid;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.main .main__container .services .services__container .services__menu ul .services__items {
  border: 1px solid rgb(176, 176, 176);
  border-radius: 20px;
  flex: 2;
  background-color: aquamarine;
  min-height: 420px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  position: relative;
}
.main .main__container .services .services__container .services__menu ul .services__items:hover {
  background-color: rgb(114, 229, 191);
  transform: scale(1.05);
}
.main .main__container .services .services__container .services__menu ul .services__items .services__image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.main .main__container .services .services__container .services__menu ul .services__items .services__image img {
  max-width: 150px;
}
.main .main__container .services .services__container .services__menu ul .services__items h3 {
  margin-bottom: 15px;
}
.main .main__container .services .services__container .services__menu ul .services__items .services__new {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: crimson;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(15deg);
  animation: scale-up 1s infinite;
}
.main .main__container .contact__container {
  margin-bottom: 50px;
}
.main .main__container .contact__container .contact__main {
  text-align: center;
  display: flex;
  gap: 2%;
  min-height: 300px;
}
.main .main__container .contact__container .contact__main > div {
  padding: 10px 20px;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 20px;
  background-color: rgb(237, 201, 175);
}
.main .main__container .contact__container .contact__main .contact__mail {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .main__container .contact__container .contact__main .contact__mail p {
  margin-bottom: 15px;
}
.main .main__container .contact__container .contact__main .contact__mail .main__emailform {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main .main__container .contact__container .contact__main .contact__mail .main__emailform > div {
  display: flex;
  justify-content: start;
}
.main .main__container .contact__container .contact__main .contact__mail .main__emailform > div label {
  margin-right: 20px;
  max-width: 250px;
  text-align: left;
}
.main .main__container .contact__container .contact__main .contact__mail .main__emailform > div input {
  padding-left: 15px;
  border-radius: 5px;
}
.main .main__container .contact__container .contact__main .contact__mail .main__emailform > div select {
  border-radius: 5px;
}
.main .main__container .contact__container .contact__main .contact__mail .main__emailform > div textarea {
  border-radius: 5px;
  padding: 15px;
  resize: none;
  width: 100%;
  min-height: 100px;
}
.main .main__container .contact__container .contact__main .contact__mail .main__emailform .main__submit {
  max-width: 100%;
}
.main .main__container .contact__container .contact__main .contact__telegram {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .main__container .contact__container .contact__main .contact__telegram p {
  margin-bottom: 15px;
}

.footer .footer__container {
  padding: 30px 0px;
  border-top: 2px solid black;
}
.footer .footer__container .footer__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

@media (max-width: 1400px) {
  .main__descinput, .main__eminput {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 900px) {
  .contact__main {
    flex-direction: column;
    gap: 30px !important;
  }
  .contact__main > div {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  .header__container {
    flex-direction: column;
    gap: 50px;
  }
  .header__menu {
    top: 46%;
  }
}
@media (max-width: 700px) {
  .hero__title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .services__menu ul {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }
  .main__selinput select {
    width: 100% !important;
  }
}
@media (max-width: 400px) {
  .hero__title {
    font-size: 25px;
  }
  .hero__text p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
